* {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
.container {
  margin: 0 auto;
  text-align: center;
}
.right {
  background-size: cover;
  background-position: center;
  height: 580px;
  width: 48.5%;
  margin: 1% 1% 0% 0.5%;
  padding-top: 54px;
  text-align: center;
  background-repeat: no-repeat;
}
.left {
  background-size: cover;
  background-position: center;
  height: 580px;
  text-align: center;
  width: 48.5%;
  margin: 1% 0.5% 0% 1%;
  padding-top: 54px;
  background-repeat: no-repeat;
}

.fourth-wrapper {
  display: flex;
}
.fourth-wrapper .left {
  background-image: url("../apple-clone-repository/images/home/watch-series-5.jpg");
}

.fourth-wrapper .right {
  background-image: url("../apple-clone-repository/images/home/apple-card.jpg");
}
.logo {
  padding-bottom: 10px;
}
.description-4 {
  width: 430px;
  padding: 10px ;
  margin: 0.7% auto;
}
.leftdes{
    margin: 2.3% auto;
}
.link a{
    text-decoration: none;
    color: rgb(4, 28, 147);
}
.link a:hover{
color: black;
}
.fifth-wrapper {
  display: flex;
}

.fifth-wrapper .left {
  background-image: url("../apple-clone-repository/images/home/apple-tv-background.jpg");
}
.fifth-wrapper .right {
  background-image: url("../apple-clone-repository/images/home/air-pods.jpg");
  color: #fff;
  background-size: initial;
  background-color: black;
  background-position: bottom;
}
.tvlogo {
  padding-bottom: 10px;
}
.tvshowlogo {
  padding: 180px 0 200px;
}
.watchtrailer a {
  font-size: 0.85em;
  text-decoration: none;
}
.watchtrailer a:hover{
    text-decoration-line: underline;
    color: black;
}
.title-5 {
  font-size: 40px;
  font-weight: bold;
}
.description-5 {
  padding-top: 19px;
  margin: 0 auto 20px;
  font-size: 25px;
}
.r5-link a{
    color: rgb(64, 4, 79);
}
.r5-link a:hover{
    color: #fff;
}